@page
@model HogarGestor.App.Presentacion.Pages_DbFamiliares.DetailsModel
@{
}
<h1>Información Detallada Sobre el Familiar de el(la) Beneficiario(a)</h1>
<div>
    <h4>Familiar:</h4>
    <dl class="row">
        <dt class="col-sm-2">Nombres:</dt>
        <dd class="col-sm-10">@Model.familiar.nombre</dd>
        <dt class="col-sm-2">Apellidos:</dt>
        <dd class="col-sm-10">@Model.familiar.apellido</dd>
        <dt class="col-sm-2">Genero:</dt>
        <dd class="col-sm-10">@Model.familiar.genero</dd>
        <dt class="col-sm-2">Documento:</dt>
        <dd class="col-sm-10">@Model.familiar.documento</dd>
        <dt class="col-sm-2">Teléfono</dt>
        <dd class="col-sm-10">@Model.familiar.telefono</dd>
        <dt class="col-sm-2">Parentesco:</dt>
        <dd class="col-sm-10">@Model.familiar.parentesco</dd>
        <dt class="col-sm-2">E-mail:</dt>
        <dd class="col-sm-10">@Model.familiar.email</dd>
    </dl>
</div>
<a asp-page="./Index">Back to list</a>