@page
@model HogarGestor.App.Presentacion.Pages_Familiares.IndexModel
@{
}
<form method="get">
    <div class="form-group">
        <p>
            Familiar: <input type="text" name="GetFilters" asp-for="GetFilters"/>
            <input type="submit" value="Filter"/>
        </p>
    </div>
</form>
<h1>Lista de Familiares de los Beneficiarios del Hogar Gestor</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Documento</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Genero</th>
            <th scope="col">Parentesco</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Quick Actions  <a asp-page="./Create" ><span class="material-icons">add</span></a></th>
        </tr>
    </thead>
    @foreach (var familiar in Model.familiares)
    {
        <tbody>
            <tr>
                <td> @familiar.nombre </td>
                <td> @familiar.apellido </td>
                <td> @familiar.documento </td>
                <td> @familiar.telefono </td>
                <td> @familiar.genero </td>
                <td> @familiar.parentesco </td>
                <td> @familiar.email </td>
                <td>
                    <a asp-page="./Delete" asp-route-id=@familiar.Id><span class="material-icons">delete</span></a>
                    <a asp-page="./Details" asp-route-id=@familiar.Id><span class="material-icons">info</span></a>
                    <a asp-page="./Edit" asp-route-id=@familiar.Id><span class="material-icons">edit</span></a>
                </td>
            </tr>
        </tbody>
    }
</table>