@page
@model HogarGestor.App.Presentacion.Pages_DbBeneficiarios.IndexModel
@{   
}
<body>
<h1>Lista de Beneficiarios del Hogar Gestor</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre: </th>
            <th scope="col">Apellido: </th>
            <th scope="col">Genero: </th>
            <th scope="col">Documento: </th>
            <th scope="col">Fecha de Nacimiento: </th>
            <th scope="col">Teléfono: </th>
            <th scope="col">Dirección: </th>
            <th scope="col">Ciudad: </th>
            <th scope="col">Latitud: </th>
            <th scope="col">Longitud: </th>
            <th scope="col"> Quick Actions: </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var beneficiario in Model.beneficiarios)
    {
            <tr>
                <td> @beneficiario.nombre </td>
                <td> @beneficiario.apellido </td>
                <td> @beneficiario.genero </td>
                <td> @beneficiario.documento </td>                
                <td> @beneficiario.fechaNacimiento </td>
                <td> @beneficiario.telefono </td>
                <td> @beneficiario.direccion </td>
                <td> @beneficiario.ciudad </td>
                <td> @beneficiario.latitud </td>
                <td> @beneficiario.longitud </td>
                <td>
                    <a asp-page="./Delete" asp-route-id=@beneficiario.Id><span class="material-icons">delete</span></a>
                    <a asp-page="./Details" asp-route-id=@beneficiario.Id><span class="material-icons">info</span></a>
                    <a asp-page="./Edit" asp-route-id=@beneficiario.Id><span class="material-icons">edit</span></a>
                    <a asp-page="./AsigPersonalSalud" asp-route-id=@beneficiario.Id><span class="material-icons">medical_services</span></a>
                    <a asp-page="./AsigFamiliar" asp-route-id=@beneficiario.Id><span class="material-icons">family_restroom</span></a>
                </td>
            </tr>  
    }
    <tr>
                <td> ... </td>
                <td> ... </td>
                <td> ... </td>
                <td> ... </td>                
                <td> ... </td>
                <td> ... </td>
                <td> ... </td>
                <td> ... </td>
                <td> ... </td>
                <td> ... </td>
                <td>
                    <a asp-page="./Create" ><span class="material-icons">person_add_alt</span></a>
                </td>
    </tbody>
</table>
</body>